:root {
    --primary-font-color: #212121;
    --secondary-font-color: #ffffff;
    --main-logo-color: #2196f3;
    --alternative-font-color: #757575;
    --order-background-color: #2f303a;
    --page-header-logo-color: #000000;
    --portfolio-select-list-background-color: #f5f4fa;
    --modal-open-btn-background-color: #188ce8;
    --bottom-address-tel-mail-color: rgba(255, 255, 255, 0.6);
    --icon-svg-color: #afb1b8;
    --border-color: #eeeeee;
    --bold-font: 500;
    --transparent-black: rgba(255, 255, 255, 0.1);
    --transition-time: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
    --bg-image-overlay: rgba(47, 48, 58, 0.8);
    --bg-portfolio-overlay: rgba(33, 150, 243, 0.9);
    --backdrop-bg-color: rgba(0, 0, 0, 0.2);
    --shadow-border-color: rgba(0, 0, 0, 0.1);
    --btn-box-shadow-color: rgba(0, 0, 0, 0.15);
}

body {
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: var(--primary-font-color);
    background-color: var(--secondary-font-color);
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
img {
    display: block;
}
button {
    cursor: pointer;
    border: none;
}
address {
    font-style: normal;
}
.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip-path: inset(50%);
    margin: -1px;
}
.menu-link.current {
    color: var(--main-logo-color);
    position: relative;
}
.current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-logo-color);
}
.page-header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--page-header-logo-color);
    margin-right: 93px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.logo {
    color: var(--main-logo-color);
}
.menu-link {
    font-weight: var(--bold-font);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-font-color);
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
.menu-contact {
    font-weight: var(--bold-font);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--alternative-font-color);
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    fill: currentColor;
    transition-property: color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
.menu-contact svg {
    margin-right: 10px;
}

.order-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-font-color);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.modal-open-btn {
    background-color: var(--main-logo-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    letter-spacing: 0.06em;
    color: var(--secondary-font-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px var(--btn-box-shadow-color);
    transition-property: background-color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}

.modal-open-btn:hover,
.modal-open-btn:focus {
    background: var(--modal-open-btn-background-color);
}
.menu-link:hover,
.menu-link:focus,
.menu-contact:hover,
.menu-contact:focus {
    color: var(--main-logo-color);
}
.specialty-main {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-font-color);
    margin-bottom: 10px;
}
.specialty-item {
    line-height: 1.7;
    color: var(--alternative-font-color);
}
.propositions-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-font-color);
    margin-bottom: 50px;
}
.our-team {
    background: var(--portfolio-select-list-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-font-color);
    margin-bottom: 50px;
}
.our-team-item {
    background: var(--secondary-font-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.our-team-wrap {
    padding: 30px;
}
.our-team-name {
    margin-bottom: 10px;
}
.our-team-name {
    font-weight: var(--bold-font);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-font-color);
}

.our-team-job {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--alternative-font-color);
    margin-bottom: 16px;
}
.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--secondary-font-color);
    color: var(--icon-svg-color);
    fill: currentColor;
    transition-property: background-color, color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--main-logo-color);
    color: var(--secondary-font-color);
}
.social-list-icon {
    width: 20px;
    height: 20px;
}

.bottom {
    background: var(--order-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.page-footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--secondary-font-color);
    margin-bottom: 20px;
}
.bottom-address {
    font-style: normal;
    line-height: 1.7;
    color: var(--secondary-font-color);
    transition-property: color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
.bottom-address-tel-mail {
    font-style: normal;
    line-height: 1.7;
    color: var(--bottom-address-tel-mail-color);
}
.bottom-address:hover,
.bottom-address:focus,
.bottom-address-tel-mail:hover,
.bottom-address-tel-mail:focus {
    color: var(--main-logo-color);
}
.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-select-list button {
    background: var(--portfolio-select-list-background-color);
    border-radius: 4px;
    font-family: inherit;
    font-style: inherit;
    font-weight: var(--bold-font);
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--primary-font-color);
    min-width: 73px;
    padding: 6px 22px;
    transition-property: background-color, color, box-shadow;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
.portfolio-select-list button:hover,
.portfolio-select-list button:focus {
    background-color: var(--main-logo-color);
    color: var(--secondary-font-color);
    box-shadow: 0px 3px 1px var(--shadow-border-color),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-example-list h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-font-color);
}

.portfolio-example-text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--alternative-font-color);
    margin-top: 4px;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
}
.navigation-wrap {
    display: flex;
    justify-content: space-between;
}
.contact-wrap {
    display: flex;
}
.menu {
    display: flex;
}
.menu li {
    margin-right: 50px;
}
.menu-item:last-child {
    margin-right: 0px;
}
.contact-wrap li {
    margin-right: 50px;
}
.contact-item:last-child {
    margin-right: 0px;
}

.page-header {
    border-bottom: 1px solid #ececec;
}
.order-wrap {
    background: var(--order-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url("../images/background-image.jpg");

    background-size: 1600px 600px;
    background-repeat: no-repeat;
    background-position: center;
}
.features-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.specialty-list {
    display: flex;
}

.specialty {
    margin-right: 30px;
    width: 270px;
}
.specialty:last-child {
    margin-right: 0;
}
.features-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--portfolio-select-list-background-color);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.propositions-section {
    padding-bottom: 94px;
}
.propositions-items {
    position: relative;
}

.propositions-list {
    display: flex;
    justify-content: space-between;
}
.propositions-items > .image-overlay {
    position: absolute;
    background-color: var(--bg-image-overlay);
    bottom: 0px;
    overflow: hidden;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-font-color);
}
.our-team-list {
    display: flex;
    justify-content: space-between;
}
.regular-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.regular-clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-font-color);
    margin-bottom: 50px;
}
.regular-clients-list {
    display: flex;
    justify-content: space-between;
}
.regular-clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid;
    border-radius: 4px;
    color: var(--icon-svg-color);
    fill: currentColor;
    transition-property: border-color, color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
.regular-clients-link:hover,
.regular-clients-link:focus {
    color: var(--main-logo-color);
}
.regular-clients-icon {
    width: 106px;
    height: 60px;
}
.footer-wrap {
    display: flex;
    flex-direction: column;
}
.footer-join-title {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-font-color);
}

.bottom-list li {
    margin-bottom: 9px;
}
.bottom-list li:last-child {
    margin-bottom: 0;
}
.portfolio-select-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.portfolio-select-list li:not(:last-child) {
    margin-right: 9px;
}
.portfolio-example-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-example-item {
    width: calc((100% - 2 * 30px) / 3);
}
.portfolio-example-link {
    display: block;

    transition-property: box-shadow;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
.portfolio-example-link:hover,
.portfolio-example-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-overlay-wrapper .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    font-size: 18px;
    line-height: 1.56;
    color: var(--secondary-font-color);
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    overflow: scroll;
    background-color: var(--bg-portfolio-overlay);
    transition-property: transform;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
.portfolio-example-link:hover .portfolio-overlay-wrapper .portfolio-overlay,
.portfolio-example-link:focus .portfolio-overlay-wrapper .portfolio-overlay {
    transform: translateY(0%);
}
.portfolio-overlay-wrapper {
    position: relative;
    overflow: hidden;
}
.portfolio-example-wrap {
    padding: 20px 24px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.bottom-wrap {
    display: flex;
    align-items: baseline;
}
.footer-join {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.footer-social-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    column-gap: 10px;
}
.footer-social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--transparent-black);
    color: var(--secondary-font-color);
    fill: currentColor;
    transition-property: background-color;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: var(--main-logo-color);
    color: var(--secondary-font-color);
}
.footer-social-list-icon {
    width: 20px;
    height: 20px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-bg-color);
    transition-property: opacity, visibility;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 580px;
    background-color: var(--secondary-font-color);
}
.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--shadow-border-color);
    padding: 0;
}
/* _____________________________________________________________________________ */
.modal-form-title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--primary-font-color);
    margin-bottom: 12px;
}
.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form-field {
    margin-bottom: 10px;
    font-size: 12px;
}
.modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
}
.modal-form-field-desk {
    display: block;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--alternative-font-color);
    margin-bottom: 4px;
}
.modal-form-message {
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 12px 16px;
}
